body{
    counter-reset: game;
}

input:checked{
    counter-increment: game;
}

.total-count::after{
    content: counter(game);
}

.phone{
    position: relative;
    border: 9px solid black;
    border-radius: 40px;
    height: 600px;
    width: 300px;
    background: #ccefff;
    box-shadow: 0 19px 38px rgb(0, 0, 0,0.30), 
    0 15px 12px rgb(0, 0, 0,0.22);    
}

input[type="checkbox"]{
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 50px;
    text-decoration: none;
    list-style: none;
    margin: 0;
    appearance: none; /* Dont show checkbox*/
    cursor: pointer;
}

h3,h2{
    text-align: center;
    font-family: 'Pacifico', cursive;
    color: cadetblue;
}

h3{
    margin-top: 8px;
}

h2{
    margin-bottom: 4px;
}


.layer {
    position: absolute;
    bottom: 0;
}

.layer-bunny{
    height: 450px;
    width: 80px;
    animation-name: bunny;
    animation-iteration-count: infinite;
}

.layer-1{
    z-index: 1;
    right: 60px;
    animation-duration: 1s;
    animation-timing-function: ease-in;
}

.layer-2{
    z-index: 2;
    left: 60px;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse;
}

.layer-3{
    z-index: 3;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 220px;
    height: 400px;
    background: pink;
}

.layer-4{
    z-index: 4;
    height: 340px;
    width: 80px;
    left: 50px;
    animation-duration: 1.2s;
    animation-timing-function:cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.layer-5{
    z-index: 5;
    left: 0;
    width: 220px;
    height: 290px;
    background: rgb(171, 171, 171);
    border-bottom-left-radius: 30px;
}

.layer-6{
    z-index: 6;
    height: 230px;
    width: 80px;
    right: 40px;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-direction: alternate;
}

.layer-7{
    z-index: 7;
    right: 0;
    width: 170px;
    height: 180px;
    background: pink;
    border-bottom-right-radius: 30px;
}

.layer-8{
    z-index: 8;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 170px;
    height: 90px;
    background-color: aqua;
}

.layer-9{
    z-index: 9;
    left: 0;
    width: 100px;
    height: 100px;
    border-bottom-left-radius: 30px;
}
.layer-10{
    z-index: 10;
    right: 0;
    width: 120px;
    height: 80px;
    border-bottom-right-radius: 30px;
}

.layer-10--element{
    width: 50%;
    height: 100%;
    background-color: whitesmoke;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.layer-9--element{
    width: 50%;
    height: 100%;
    background-color: green;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);

}

.element--1{
    transform: rotate(-90deg);
    left: 24px;
    bottom: -10px;
}
.element--2{
    right: 0;
}

.element--3{
    transform: rotate(-90deg);
    right: 24px;
    bottom: -28%;
}
.element--4{
    left: -10px;
}

.layer-11{
    z-index: 11;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    position: absolute;
    border: 9px solid black;
    border-radius: 40px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto auto;
    transform: translateX(-9px);
    pointer-events: none;
}

.ear{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ear--outter{
    background: white;
    border-radius: 90%;
    width: 20px;
    height: 50px;
    position: absolute;
}

.ear--inner{
    background: pink;
    border-radius: 90%;
    width: 10px;
    height: 40px;
    position: absolute;

}

.left-ear{
    left: 10px;
}

.right-ear{
    right: 10px;
}

.head{
    width: 100%;
    background-color: white;
    height: 100px;
    border-radius: 100%;
    position: absolute;
    top: 20px;
}

.head__eye{
    width: 8px;
    aspect-ratio: 1/1;
    background-color: black;
    border-radius: 100%;
    position: absolute;
    margin: 0 auto;
    right: 0;
    left: 0;
    top: 14px;
    animation-name: blink;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.head__eye--right{
    right: 14px;
}

.head__eye--left{
    left: 14px;
}

.layer-roof{
    border-radius: 12px 12px 30px 30px;
    background-color: brown;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}
.layer-roof--floor{
    border-radius: 12px;
    width: 100%;
    height: 20%;
    background: linear-gradient(135deg, green 25%, transparent 25%) -50px 0,
        linear-gradient(-135deg, green 25%, transparent 25%) -50px 0,
        linear-gradient(135deg, #800000 25%, transparent 25%) -50px 10px,
        linear-gradient(-135deg, #800000 25%, transparent 25%) -50px 10px;
    background-size: 50px 100px;
}

.layer-roof--floor-sm{
    height: 50%;
}

@keyframes bunny {
    0%{
        bottom: 0;
    }
    30%{
        bottom: -80px;
    }
    100%{
        bottom: 0;

    }
}

@keyframes blink{
    0%{
        aspect-ratio: 1/1;
        top: 14px;
    }
    5%{
        aspect-ratio: 4/1;
        top: 18px;
    }
    10%{
        aspect-ratio: 1/1;
        top: 14px;
    }
}